<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script>
        function showClock() {
          let nowTime = new Date();
          let nowFullYear = nowTime.getFullYear();
          let nowMonth = nowTime.getMonth();
          let nowDate = nowTime.getDate();
          let nowHour = nowTime.getHours();
          let nowMin  = nowTime.getMinutes();
          let nowSec  = nowTime.getSeconds();
          let msg = nowFullYear + "/" + nowMonth + "/" + nowDate + " "
                        + nowHour + ":" + nowMin + ":" + nowSec;
          document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
      </script>
    <title>勤怠入力</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>
<body>

<p>・ログイン</p>
<p>・連絡先登録</p>
<p>・勤務場所登録</p>
<p>・勤怠状況一覧表示</p>
<p>・ログアウト</p>


<p>こんにちは、ななしさん。</p>
<p>状態：未出勤</p>
<p id="realtime"></p>

<form method="post" action="http://localhost:8080/attendanceinput">
    <input type="hidden" id="attendance" name="post_param"/>
    <input type="submit" value="出勤">
</form>

<form method="post" action="http://localhost:8080/leavinginput">
    <input type="hidden" id="leaving" name="post_param"/>
    <input type="submit" value="退勤">
</form>

</body>
</html>