<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mock1.css">
    <script>
        function showClock() {
          let nowTime = new Date();
          let nowFullYear = nowTime.getFullYear();
          let nowMonth = nowTime.getMonth();
          let nowDate = nowTime.getDate();
          let nowHour = nowTime.getHours();
          let nowMin  = nowTime.getMinutes();
          let nowSec  = nowTime.getSeconds();
          let msg = nowFullYear + "/" + nowMonth + "/" + nowDate + " "
                        + nowHour + ":" + nowMin + ":" + nowSec;
          document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
    </script>
    <title>勤怠状況一覧</title>
</head>
<body>
<h1>勤怠状況一覧</h1>

<p id="realtime"></p>

<table border="1">
    <tr>
        <th>氏名</th>
        <th>勤務開始時間</th>
        <th>勤務終了時間</th>
        <th>ステータス</th>
        <th>勤務場所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
    </tr>

    <tr>
        <td>名無し1</td>
        <td>09:00</td>
        <td>---</td>
        <td>出勤中</td>
        <td>自宅</td>
        <td>090-xxxx-xxxx</td>
        <td>xxxx@mail.com</td>
    </tr>

    <tr>
        <td>名無し2</td>
        <td>09:00</td>
        <td>19:00</td>
        <td>未出勤</td>
        <td>---</td>
        <td>090-oooo-oooo</td>
        <td>oooo@mail.com</td>
    </tr>

    <tr>
        <td>名無し3</td>
        <td>10:00</td>
        <td>---</td>
        <td>休憩中</td>
        <td>東京本社</td>
        <td>090-△△△△-△△△△</td>
        <td>△△△△@mail.com</td>
    </tr>

</table>
</body>
</html>