<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="mock1.css">
    <title>ホーム(仮)</title>

    <script>
        function showClock() {
          let nowTime = new Date();
          let nowFullYear = nowTime.getFullYear();
          let nowMonth = nowTime.getMonth();
          let nowDate = nowTime.getDate();
          let nowHour = nowTime.getHours();
          let nowMin  = nowTime.getMinutes();
          let nowSec  = nowTime.getSeconds();
          let msg = nowFullYear + "/" + nowMonth + "/" + nowDate + " "
                        + nowHour + ":" + nowMin + ":" + nowSec;
          document.getElementById("realtime").innerHTML = msg;
        }
        setInterval('showClock()',1000);
      </script>

</head>
<body>

<p id="realtime"></p>
<p>出勤済</p>

</body>
</html>